{% extends 'base.html' %}

{% block head_properties %}
<title>Zarejerstrój się</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/login-style.css')}}">
{% endblock %}

{% block body %}
<body>
        <div class="content">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="notification is-danger">
                    {{ messages[0] }}. Go to <a href="{{ url_for('auth.login') }}">login page</a>.
                </div>
            {% endif %}
            {% endwith %}
            <form action="/signup" method="POST">
            <label for="username">Username</label><br>
            <input type="text" id="username" name="username">
            <br>
            <label for="email">Email</label><br>
            <input type="text" id="email" name="email">
            <br>
            <label for="password">Password</label><br>
            <input type="password" id="password" name="password">
            <br>
            <input type="submit" value="Zaloguj się">
            </form>
        </div>
</body>
{% endblock %}